////
/// @group config
/// @author cgoern
////

/// The default namespace for CSS custom properties.
///
/// @since 1.0.0
///
/// @type string
$namespace: 'ink' !default;

/// CSS selector custom properties are declared in.
///
/// @since 1.0.0
///
/// @type string
$selector: ':root' !default;

/// Whether colors should alter when entering system dark mode.
///
/// @since 1.0.0
///
/// @type bool
$useDarkMode: true !default;

/// Whether colors should alter when display & browser supports Display P3 color space.
///
/// @since 1.0.0
///
/// @type bool
$useDisplayP3: true !default;
